@inherits LayoutComponentBase

<div class="layout-container">
    <div class="logo-container">
        <img src="images/LogoPhoto.png" alt="Logo" />
    </div>
    <div class="content-container">
        @Body
    </div>
</div>
